
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header green">
            <h4 class="white-text">Menu</h4>
        </div>
        <div class="card-body">
            <a href="/App/Products" class="btn btn-light-green btn-block mt-3">Supermarket</a>
            <button href="#" class="btn btn-light-green btn-block mt-3">Servicios</button>
            <button href="#" class="btn btn-light-green btn-block mt-3">Tu contador agricola</button>
            <button href="#" class="btn btn-light-green btn-block mt-3">Agro favor</button>
            <button href="#" class="btn btn-light-green btn-block mt-3">Mis referidos</button>
            <button href="#" class="btn btn-light-green btn-block mt-3">Trabaja con nosotros</button>
            <button href="#" class="btn btn-light-green btn-block mt-3">Mis ultimas compras</button>
            <button href="#" class="btn btn-light-green btn-block mt-3">Coworking</button>
            <button href="#" class="btn btn-light-green btn-block mt-3">Grado alimenticio</button>
            <button href="#" class="btn btn-light-green btn-block mt-3">CRM</button>
        </div>
    </div>
</div>